src/main/mule/howtheweathertoday.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xmlns:http="http://www.mulesoft.org/schema/mule/http"
	  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	  xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
		http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<configuration-properties file="weather.properties" />

	<flow name="get-weather-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/weather" doc:name="HTTP Listener" />
		<logger level="INFO" doc:name="Logger - Input Payload" message="Input payload: #[payload]" />

		<!-- Split city input -->
		<set-variable variableName="cityName" value="#[(payload.city default '') splitBy ',']" />
		<logger level="INFO" doc:name="Logger - City Names" message="City names: #[vars.cityName]" />
		<scatter-gather doc:name="Scatter-Gather">
			<route>
				<set-variable variableName="city" value="#[trim((vars.cityName[0] default ''))]" />
					<logger level="INFO" doc:name="Logger - Before HTTP 1" message="Getting weather for city: #[vars.city]" />
				<choice doc:name="Check city 1">
					<when expression="#[vars.city != null and vars.city != '']">
						<http:request method="GET" doc:name="HTTP Request 1"
							url="${weather.api.baseUrl}">
							<http:query-params><![CDATA[#[{ q: vars.city, appid: p('weather.api.appid') }]]]></http:query-params>
						</http:request>
						<ee:transform doc:name="Extract body 1">
							<ee:message>
								<!-- Sửa lại: ép kiểu payload về Object thay vì giữ nguyên (tránh trường hợp payload là chuỗi JSON) -->
								<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
if (payload is String)
  read(payload, "application/json")
else
  payload
]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</when>
					<otherwise>
						<set-payload value="#['']" doc:name="Empty city 1" />
					</otherwise>
				</choice>
				<logger level="INFO" doc:name="Logger - After HTTP 1" message="Weather response for #[vars.city]: #[payload]" />
			</route>
			<route>
				<set-variable variableName="city" value="#[trim((vars.cityName[1] default ''))]" />
				<logger level="INFO" doc:name="Logger - Before HTTP 2" message="Getting weather for city: #[vars.city]" />
				<choice doc:name="Check city 2">
					<when expression="#[vars.city != null and vars.city != '']">
						<http:request method="GET" doc:name="HTTP Request 2"
							url="${weather.api.baseUrl}">
							<http:query-params><![CDATA[#[{ q: vars.city, appid: p('weather.api.appid') }]]]></http:query-params>
						</http:request>
						<ee:transform doc:name="Extract body 2">
							<ee:message>
								<!-- Sửa lại: ép kiểu payload về Object thay vì giữ nguyên (tránh trường hợp payload là chuỗi JSON) -->
								<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
if (payload is String)
  read(payload, "application/json")
else
  payload
]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</when>
					<otherwise>
						<set-payload value="#['']" doc:name="Empty city 2"/>
					</otherwise>
				</choice>
				<logger level="INFO" doc:name="Logger - After HTTP 2" message="Weather response for #[vars.city]: #[payload]" />
			</route>
		</scatter-gather>

		<!-- Định dạng lại kết quả trả về -->
		<logger level="INFO" doc:name="Parsing Content 1" message="Parsing Content 1 #[payload]" />
		<logger level="INFO" doc:name="Parsing Content 2" message="Parsing Content 2 #[payload.class]" />
		<logger level="INFO" message='typeOf(payload)=#[%dw 2.0 output application/java --- typeOf(payload)]' />
<ee:transform doc:name="Format weather response">
    <ee:message>
        <ee:set-payload><![CDATA[
%dw 2.0
output application/json

fun asArray(v) =
  // Nếu đã là array thì giữ nguyên
  if (v is Array) v
  // Nếu là Object thì kiểm tra tiếp
  else if (v is Object) 
    // Scatter-Gather Map thường có key "0","1"... -> pluck ra array values
    if (v."0"? or v."1"?) (v pluck ((val, key, idx) -> val))
	// Nếu là Object bình thường thì wrap vào array
    else [v]
  else
    []
	
// Chuyển payload thành array các route responses
var routes = asArray(payload)

// unwrap từng phần tử (nếu là Mule Message thì có .payload)
var bodies =
  asArray(
    routes map (r) -> (r.payload default r)
  )
  // chỉ giữ weather body hợp lệ
  filter ((b) -> (b is Object) and (b.name? and b.main?))

---
bodies map (b) -> {
  City: b.name,
  MinTemp: ((b.main.temp_min default null) as Number) - 273.15,
  MaxTemp: ((b.main.temp_max default null) as Number) - 273.15,
  Humidity: b.main.humidity default null
}
]]></ee:set-payload>
    </ee:message>
</ee:transform>
		<logger level="INFO" doc:name="Logger - Final Payload" message="Final weather details: #[payload]" />
	</flow>

	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>

</mule>
